/*
.green { background-color: #73b148; }
.light-blue { background-color: #f0f3fc; }
.medium-blue { background-color: #d4dbf2; }
.dark-blue { background-color: #5c9fdb; }
*/
  
html {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}
body {
}
table {
	border-collapse: collapse;
    padding: 2px;
}
a {
    text-decoration: none;
}

#main-wrapper {
    border: 2px solid silver;
}
.main-header {
    background-color: #5c9fdb;
}
.main-header h2 {
    display: inline-block;
    margin-left: 10px;
}
.main-header a {
    display: inline-block;
    float: right;
    margin: 20px;
    color: white;
}

.content {
    padding: 10px;
}
.content .search {
    margin: 4px;
}

.master-detail-wrapper{
    display: flex;
}

.master {
    width: 100%;
}
.show-detail .master {
    flex: 0 0 65%;
}
.detail {
    display: none;
}
.show-detail .detail {
    display: inline-block;
    flex: 1;
}

.master table {
    width: 100%;
}
.master table th {
    background-color: #73b148;
    color: white;
    padding: 6px;
    text-align: left;
}
.master table tr:nth-child(even) {
    background-color: #f0f3fc;
}
.master table tr:nth-child(odd) {
    background-color: #d4dbf2;
}
.master table td.id {
    width: 50px;
}
.master table td a {
    color: black;
    display: block;
    padding: 6px;
}
.master table tr:hover td {
    cursor: pointer;
    color: white;
    background-color:  #5c9fdb;
}
.master table tr:hover td a {
    color: white;
}
.master table td {
    text-align: left;
}

.detail .header {
    height: 20px;
    background-color: #EEE;
    padding-left: 4px;
    padding-top: 7px;
    margin-right: 2px;
}
.detail ul {
    margin-left: 0;
    padding-left: 4px;
}
.detail ul li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 4px;
}
.detail label {
    width: 100px;
    display: inline-block;
}
.detail span {
    display: inline-block;
}
.detail button {
    padding: 6px 30px;
    color: white;
    background-color: #5c9fdb;
    border:1px solid black;
    border-radius: 8px;
    float: right;
    cursor: pointer;
}